body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: gray;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 50px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  background-color: gray;
}

.row {
  white-space: pre-wrap;
  height: 80px;
 
}

.hour {
  
  color:whitesmoke;
  background-color: gray;
  margin-top: 45px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.55rem 0.90rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color : whitesmoke;
}

.form-control:focus {
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.30); 
}

.past .form-control {
  background-color: rgb(247, 210, 224);
  color: white;
}

.present .form-control {
  background-color:  rgb(168, 71, 219);
  color: white;
}

.future .form-control{
  background-color:  rgb(111, 47, 145);
  color: white;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: black;
  --bs-btn-border-color:black;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: black;
  --bs-btn-hover-border-color: black;
}
.saveBtn {
  margin-top: 4px;
  background-color: gray;
  color:whitesmoke;
  border-color: whitesmoke;
  border-width: 2.5px;
  border-radius: 12px;
}

.saveBtn :hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.deleteBtn {
  margin-top: 4px;
  background-color: gray;
  color:whitesmoke;
  border-color: whitesmoke;
  border-width: 2.5px;
  border-radius: 12px;
}
.deleteBtn :hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  
  header {
    padding: 30px;
  }

  .row {
    height: auto;
  }

  .hour {
    margin-top: 10px;
  }
}